---
Language: Cpp
IndentWidth: 4
ColumnLimit: 100
TabWidth: 4
UseTab: Never
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: true
    AlignCompound: true
    PadOperators: true
AlignConsecutiveDeclarations:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: true
    AlignFunctionPointers: false
AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: true
    AlignCaseColons: true
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 2
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true
BracedInitializerIndentWidth: 4
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: All
BreakBeforeConceptDeclarations: Always
BreakBeforeInlineASMColon: Always
BreakBeforeTernaryOperators: true
BreakTemplateDeclarations: Yes
Cpp11BracedListStyle: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: Indent
IndentGotoLabels: true
InsertBraces: false
KeepEmptyLinesAtEOF: false
KeepEmptyLinesAtTheStartOfBlocks: false
LineEnding: LF
MaxEmptyLinesToKeep: 2
ReferenceAlignment: Right
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpacesInParens: Never
SpacesInSquareBrackets: false
---

